Examples/examples
LLM_APIs/node_modules
LLM_APIs/package-lock.json
LLM_APIs/package.json
LLM_APIs/.env
Prototype/.env
Product/.env
.gitignore
*.gitignore
*.exe
function_opt/
output_avx/
output_cc/
function_opt.cc
output_avx.exe
output_cc.exe